* {
  padding: 0;
  margin: 0;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  text-align: center;
  color: white;
  background-color: rgb(10, 10, 10);
}
main{
  flex:1;
}

.heading {
  padding: 0.5rem;
  background-color: hsl(240, 70%, 20%);
}

.info-bar {
  position: fixed;
  text-align: right;
  right: 1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
}
.status-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsla(0, 0%, 100%, 50%);
  /* color:black; */
  font-size: 3rem;
}
.status {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid black;
}
.win {
  background-color: hsl(120, 50%, 20%);
}
.lost {
  background-color: hsl(0, 50%, 20%);
}
.reset-button {
  display: block;
  padding: 0.5em;
  font-size: 1.1rem;
  background-color: rgb(66, 56, 21);
  /* margin-left: 5rem; */
  color: white;
  margin: 0.5rem;
  /* float: right; */
}
.left-margin {
  margin-left: auto;
}
.reset-button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.gameboard {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  width: fit-content;
  margin: 1rem auto;
}
.character {
  background-color: hsl(120, 70%, 10%);
  font-size: 5rem;
  padding: 1rem;
  width: fit-content;
  border: 2px solid black;
}
.character:hover {
  transform: scale(1.05);
  background-color: hsl(120, 70%, 15%);
  cursor: pointer;
}
.footer{
  background-color: black;
  padding:0.5rem;
  border-top: 2px solid white;
}

@media only screen and (max-width: 760px) {
  .character {
    padding: 0.5rem;
    font-size: 4rem;
  }
  .info-bar {
    /* bottom: 0; */
    position: static;
  }
}
